<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to 'チャット作成', new_room_path, class:"create-link" %>
  </div>

</div>

<div class="side-room-list">
  <% current_user.rooms.each do |room| %>
    <div class="room-list">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>  
</div>