<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to 'チャット作成', '#', class:"create-link" %>
  </div>

</div>

<div class="side-room-list">
  <div class="room-list">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room-list">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>