.wrapper{
  display: flex;

}

.side-bar {
  height: 100vh;
  width: 300px;
}

.side-header{
  height: 100px;
  /* background-color: #253141; */
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{
  font-size: 16px;
  margin-left: 20px;
  color: #FAFAFA;
}

.create-room{
  font-size: 10px;
  padding: 14px;
  margin-right: 20px;
  border: 1px solid lightblue;
}

.create-room .create-link {
  color: deepskyblue;
  text-decoration: none;
}

.side-room-list{
  height: calc(100vh - 100px);
  /* background-color: #2F3E51; */
  background-color: darkred;
  padding: 0 20px;
  overflow: scroll;
}

.room-list{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}



.chat{
  height: 100vh;
  width: calc(100vw - 300px);

}

.main-header{
  /* background-color: #FFFFFF; */
  background-color: rgb(163, 150, 150);
  height: 100px;
  padding: 0 40px;
}

.messages{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}